.bouffe-navigation {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: cadetblue;
  transition: left 0.5s ease-in-out;
  font-size: 20px;
}

.bouffe-navigation__closed {
  left: -170px;
  transition: left 0.5s ease-in-out;
}

.bouffe-controls {
  padding-top: 20px;
  display: block;
  height: 100%;
}

.bouffe-controls__item {
  margin: 10px;
  float: left;
}

.chevrom_img {
  height: 20px;
  float: right;
  margin: 5px;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

.chevrom_img__closed {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}

.bouffe-navigation button, select, input {
  border-radius: 5px;
  border: none;
  width: 160px;
  height: 30px;
  margin-top: 5px;
  font-size: 15px;
  font-family: inherit;
}

.test {
  font-family: 'Arial', cursive !important;
}

.bouffe-navigation button {
  background-color: aqua;
}

.bouffe-navigation button:hover {
  box-shadow: black 1px 1px 1px 1px;
}

.bouffe-navigation input {
  width: 158px;
}
