<div class="main-page" role="main">

  <h1 class="title" id="title">
    Keskonmange ?
  </h1>

  <div class="the-bouffe-list">
    <ul *ngFor="let bouffe of list" class="bouuf">
      <li>
        <label>
          <input type="checkbox" [(ngModel)]="bouffe.isWanted">
        </label>
        {{bouffe.value}}
      </li>
    </ul>
  </div>
  <div>
    <label>
      <input type="text" (keyup.enter)="addToList()" [(ngModel)]="toto">
    </label>
    <button (click)="addToList()">Ajouter à la liste</button>
  </div>

  <div>
    <app-choose-for-me [bouffeList]="list"></app-choose-for-me>
  </div>
</div>


