.main-page {
  font-family: "Yu Gothic", serif;
}

.title {
  display: flex;
  justify-content: center;
  color: red;
}

.bouffe-pannel {
  display: block;
  position: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
  min-width: min-content;
  min-height: 94px;
  border: solid 1px mediumblue;
  border-radius: 10px;
  box-shadow: mediumblue 0 0 5px 5px;
}

.the-bouffe-list {
  display: flex;
  flex-flow: row wrap;
  //align-content: center;
  justify-content: space-around;
  //padding: 0;
}

.the-bouffe-list ul {
  list-style: none;
  margin: 5px;
  padding: 5px;
}

.the-bouffe-list__item {
  border: solid 1px black;
  border-radius: 15px;
  display: grid;
  grid-auto-columns: 10%;
  width: 225px;
  min-height: 50px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.the-bouffe-list__item__value {
  grid-row: 1;
  grid-column: 2 / 11;
  align-self: center;
  justify-self: center;
  font-size: 100%;
}

.the-bouffe-list__item:hover {
  color: white;
  background-color: lightseagreen;
}

.the-bouffe-list__item__selected {
  grid-row: 1;
  grid-column: 1;
  background-color: green;
}

.the-bouffe-list__item__selected[aria-selected=true] {
  background-color: green;
}

.the-bouffe-list__item__selected[aria-selected=false] {
  background-color: red;
}

.the-bouffe-list__item__selected::before {
  content: " ";
  white-space: pre;
}

.bouffe-navigation {
  height: 100%;
  width: min-content;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.bouffe-controls {
  padding-top: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 100%;
  border-right: solid 1px mediumblue;
}

.bouffe-controls__item {
  margin: 10px;
}
