<div class="main-page" role="main">

  <h1 class="title" id="title">
    Keskonmange ?
  </h1>

  <div class="the-bouffe-list">
    <ul *ngFor="let bouffe of list" class="bouuf">
      <li>
        <label>
          <input type="checkbox" [(ngModel)]="bouffe.isWanted">
        </label>
        {{bouffe.value}}
      </li>
    </ul>
  </div>
  <div>
    <label>
      <input type="text" [(ngModel)]="toto">
    </label>
    <button (click)="addToList()">Ajouter à la liste</button>
  </div>

  <div>
    <button (click)="spinTheWheel()">Choisir à ma place</button>
    <div>{{result}}</div>
  </div>
</div>


