.main-page {
  font-family: "Yu Gothic", serif;
}

.title {
  display: flex;
  justify-content: center;
  color: red;
}

.bouffe-pannel {
  display: block;
}

.the-bouffe-list {
  display: block;
  position: center;
  margin-right:auto;
  margin-left:auto;
  max-width: 500px;
  min-width: min-content;
  border: solid 1px mediumblue;
  border-radius: 10px;
  box-shadow: mediumblue 0 0 5px 5px;
}

.the-bouffe-list ul {
  list-style: none;
  padding: 5px;
  margin: 10px;
}

.the-bouffe-list li:hover {
  color: lightseagreen;
}

.bouffe-navigation {
  height: 100%;
  width: min-content;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.bouffe-controls {
  padding-top: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 100%;
  border-right: solid 1px mediumblue;
}

.bouffe-controls__item {
  margin: 10px;
}
